*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    padding: 0;
}
.leftSide{
    display: flex;
    max-width: 25%;
    max-height: 100%;
}
.leftSide .profilePhoto{
    float: left;
    width: 50px;
    height: 1000px;
    padding: 10px;
}
.desc{
    display: table-column;
    align-items: center;
    padding-top: 10px;
    /* padding: 5px; */
    background-color: aqua;
}
.desc .names{
    font-size: small;
    /* margin: 5px; */
}
.desc p{
    font-size: x-small;
    color: rgb(121, 118, 118)
}